<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"><div id="frameG6U8zk" class="frame move-span cl frame-1"><div id="frameG6U8zk_left" class="column frame-1-c"><div id="frameG6U8zk_left_temp" class="move-span temp"></div><!--{block/7}--></div></div><div id="frameMH3z0V" class="frame move-span cl frame-1"><div id="frameMH3z0V_left" class="column frame-1-c"><div id="frameMH3z0V_left_temp" class="move-span temp"></div><!--{block/8}--></div></div></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
