<!--{template common/header}-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<link rel="stylesheet" type="text/css" href="template/quater_10_kayou/src/wei.css" />
<script src="template/quater_10_kayou/src/js/jquery.superslide.js" type="text/javascript"></script>

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>
</div>
<div class="container">
  <div class="m-slide">
    <div class="g-main">
      <div class="tt">
        <h3>加入Quater/cn！</h3>
      </div>
      <div class="ct f-cb">
        <div class="f-fl code"> <img src="template/quater_10_kayou/src/code-down.png" alt=""> </div>
        <div class="f-fl down">
          <p>扫描二维码下载APP</p>
          <a href="#"><span class="icon_down icon_andiord"></span><span class="icon_txt s-fcgreen">下载安卓版</span></a> <a href="#"><span class="icon_down icon_ios"></span><span class="icon_txt s-fcblue">下载苹果版</span></a> </div>
      </div>
    </div>
  </div>
  <div class="g-bd g-main">
    <div class="m-news">
      <div class="u-tt"><span>媒体报道</span></div>
      <div class="u-ct">
         <!--[diy=diy1]--><div id="diy1" class="area"><div id="frameZ9FL4y" class="frame move-span cl frame-1"><div id="frameZ9FL4y_left" class="column frame-1-c"><div id="frameZ9FL4y_left_temp" class="move-span temp"></div><!--{block/37}--></div></div></div><!--[/diy]-->
      </div>
    </div>
  </div>
 </div>

<!--{template common/footer}-->
