<!--{template common/header}-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<link rel="stylesheet" type="text/css" href="template/elec_201803_qkw/style/css/video.css" />

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>
</div>

<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->

<div class="videos-index cl">
<div class="body-container cl">
<div class="cl" style="background: #F6F6F6;">
<div class="video-banner container video-container">
   <!--[diy=diy2]--><div id="diy2" class="area"><div id="frameG77L5H" class="frame move-span cl frame-1"><div id="frameG77L5H_left" class="column frame-1-c"><div id="frameG77L5H_left_temp" class="move-span temp"></div><!--{block/68}--></div></div></div><!--[/diy]-->
</div>
</div>
<div class="video-area container video-container">
   <!--[diy=diy3]--><div id="diy3" class="area"><div id="framebMbhx7" class="frame move-span cl frame-1"><div id="framebMbhx7_left" class="column frame-1-c"><div id="framebMbhx7_left_temp" class="move-span temp"></div><!--{block/69}--></div></div></div><!--[/diy]-->
</div>
<!--[diy=diy_bottom]--><div id="diy_bottom" class="area"><div id="frameRMjHyN" class="frame move-span cl frame-1"><div id="frameRMjHyN_left" class="column frame-1-c"><div id="frameRMjHyN_left_temp" class="move-span temp"></div><!--{block/70}--></div></div></div><!--[/diy]-->
</div>
</div>

<!--{template common/footer}-->
