<!--{template common/header}-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<link rel="stylesheet" type="text/css" href="template/elec_201706_bt/style/css/video.css" />

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>
</div>

<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->

<div class="videos-index cl">
<div class="body-container cl">
<div class="video-banner container video-container">
   <!--[diy=diy2]--><div id="diy2" class="area"><div id="frameY4VHR4" class="frame move-span cl frame-1"><div id="frameY4VHR4_left" class="column frame-1-c"><div id="frameY4VHR4_left_temp" class="move-span temp"></div><!--{block/139}--></div></div></div><!--[/diy]-->
</div>
<div class="video-area container video-container">
   <!--[diy=diy3]--><div id="diy3" class="area"><div id="framemW5OME" class="frame move-span cl frame-1"><div id="framemW5OME_left" class="column frame-1-c"><div id="framemW5OME_left_temp" class="move-span temp"></div><!--{block/142}--></div></div><div id="framefQiAxS" class="frame move-span cl frame-1"><div id="framefQiAxS_left" class="column frame-1-c"><div id="framefQiAxS_left_temp" class="move-span temp"></div><!--{block/141}--></div></div><div id="frameigyZqJ" class="frame move-span cl frame-1"><div id="frameigyZqJ_left" class="column frame-1-c"><div id="frameigyZqJ_left_temp" class="move-span temp"></div><!--{block/140}--></div></div></div><!--[/diy]-->
</div>
<!--[diy=diy_bottom]--><div id="diy_bottom" class="area"><div id="frameBqkVhq" class="frame move-span cl frame-1"><div id="frameBqkVhq_left" class="column frame-1-c"><div id="frameBqkVhq_left_temp" class="move-span temp"></div><!--{block/143}--></div></div></div><!--[/diy]-->
</div>
</div>

<!--{template common/footer}-->
