<!--{template common/header}-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<link rel="stylesheet" type="text/css" href="template/quater_10_jinrong/src/about.css" />
<script src="template/quater_10_jinrong/src/js/about.js"></script>

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>
</div>
<div class="wp" style="min-height: 500px;">
  <!--[diy=diy1]--><div id="diy1" class="area"><div id="frameMGDGvu" class="frame move-span cl frame-1"><div id="frameMGDGvu_left" class="column frame-1-c"><div id="frameMGDGvu_left_temp" class="move-span temp"></div><!--{block/79}--></div></div></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
