<!--{template common/header}-->
<link rel="stylesheet" type="text/css" id="time_diy" href="template/elec_201706_bt/style/css/menhu.css" />
<style id="diy_style" type="text/css"></style>
<script src="template/elec_201706_bt/style/js/jquery.superslide.js" type="text/javascript"></script>
<script src="template/elec_201706_bt/style/js/js2.js" type="text/javascript"></script>
<script src="template/elec_201706_bt/style/js/more.js" type="text/javascript"></script>

</div>
<header><!--[diy=diy_top]--><div id="diy_top" class="area"></div><!--[/diy]--></header>
<div class="l-main J-index">
  <div class="l-tab-box">
    <div class="l-tab-btn J-tab-btn">
      <ul>
        <li> <a href="javascript:;" class="z-active">最新</a> </li>
        <li> <a href="javascript:;">热门</a> </li>
        <li> <a href="javascript:;">时讯</a> </li>
        <li> <a href="javascript:;">百科</a> </li>
      </ul>
    </div>
    <div class="l-content">
      <div class="J-list">
         <!--[diy=diy_con1]--><div id="diy_con1" class="area"></div><!--[/diy]-->
      </div>
      <div class="J-list">
         <!--[diy=diy_con2]--><div id="diy_con2" class="area"></div><!--[/diy]-->
      </div>
      <div class="J-list">
         <!--[diy=diy_con3]--><div id="diy_con3" class="area"></div><!--[/diy]-->
      </div>
      <div class="J-list">
         <!--[diy=diy_con4]--><div id="diy_con4" class="area"></div><!--[/diy]-->
      </div>
      <div class="J-list">
         <!--[diy=diy_con5]--><div id="diy_con5" class="area"></div><!--[/diy]-->
      </div>
    </div>
  </div>
  <div class="l-side">
    <!--[diy=diy_right1]--><div id="diy_right1" class="area"></div><!--[/diy]-->
  </div>
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script> 
<!--{template common/footer}-->
