<!--{template common/header}-->
<!--[name]elec_201706_bt - 视频[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<link rel="stylesheet" type="text/css" href="template/elec_201706_bt/style/css/video.css" />

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css">
</style>
</div>

<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->

<div class="videos-index cl">
<div class="body-container cl">
<div class="video-banner container video-container">
   <!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
</div>
<div class="video-area container video-container">
   <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>
<!--[diy=diy_bottom]--><div id="diy_bottom" class="area"></div><!--[/diy]-->
</div>
</div>

<!--{template common/footer}-->
